body {
    background-color: aqua;
    display: flex;
    justify-content: center;
}

.calculator {
    height: 540px;
    width: 400px;
    border: 10px;
    padding: 13px;
    background-color: blue;
}

.firstBox {
    width: 393px;
    height: 85px;
    border: 4px solid black;
    background-color: grey;
    font-size: 30px;
}

.secondBox {
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    margin: 10px 0px;
}





